pipeline/data_ingestion_pipeline.json
{
	"name": "data_ingestion_pipeline",
	"properties": {
		"activities": [
			{
				"name": "lookup_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "dynamic_filename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_date",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copy_incremental_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "dynamic_filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.schema}.@{pipeline().parameters.table} where @{pipeline().parameters.cdc}>'@{activity('lookup_date').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(variables('current_date'),'_',pipeline().parameters.table)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "sqlscript_maxdate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "copy_incremental_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select max(@{pipeline().parameters.cdc}) as cdc from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "update_maxdate_json",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sqlscript_maxdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "cdc",
								"value": {
									"value": "@activity('sqlscript_maxdate').output.resultSets[0].rows[0].cdc",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "empty.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "cdc.json"
						}
					}
				]
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"cdc": {
				"type": "string"
			}
		},
		"variables": {
			"current_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}